# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# macOS
.DS_Store

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/

# Logs
*.log

# SQLite database
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build / packaging
build/
dist/
*.egg-info/

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

